@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --linear-gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --light-Grayish-Blue: hsl(234, 14%, 74%);
  --grayish-Blue: hsl(233, 13%, 49%);
  --dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--very-Light-Grayish-Blue);
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-block: 2rem;
}

.pricing__header {
  margin: 3rem;
  text-align: center;
}

.pricing__header h1 {
  color: var(--grayish-Blue);
}

.pricing__header p {
  color: var(--light-Grayish-Blue);
  margin: 1rem 0.5rem;
}

.pricing__header p span {
  margin: 1rem;
}

.pricing__container {
  display: flex;
  gap: 1rem;
}

.linear-gradient {
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 1.5rem;
}

.toggle span {
  color: var(--light-Grayish-Blue);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  background: linear-gradient(90deg, hsl(236, 50%, 76%), hsl(237, 54%, 77%));
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bg__top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.bg__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
